/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-image: url('../images/bg.jpg');
  background-position: 100%;

}

body::before {
  content: "";
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.border-style {
  box-shadow: 0px 4px rgba(0, 0, 0, .3);
}

.row {
  margin-bottom: 30px;
}

.fb {
  background-color: #3B4E8C;
}
.rss {
  background-color: #C5852C;
}
.twt {
  background-color: #5F82C0;
}
.yt {
  background-color: #A93128;
}
.social-nav a {
  color: white;
}

.sub {
  text-align: center;
}

.pull-right {
  float: right !important;
}

.nav-buttons {
  a {
    background-color: #AA2429;
    border-radius: 0;
    color: white;
    font-size: 18px;
  }
}

.header-box {
  .header-img {
    border: solid 5px white;
    background: url('../images/top-image.png') no-repeat center -100px;
    background-size: cover;
    position: relative;
    height: 336px;
  }

  .logo {
    position: relative;
    padding-top: 50px;
  }

}
.header-img::before{
  content: "";
  background-image: url('../images/grid.png');
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* ARTICLE SECTION */

.article-container1 {
  padding-left: 0px;
}
.article-container3 {
  padding-right: 0px;
}
.article-box {
  margin-top: 65px;
}

.article {
  height: 350px;
  background-color: #FEFEFE;
}

.article {
  time {
    color: grey;
    padding-bottom: 25px;
    font-size: 12px;
  }

   h4 {
    color: #AA2429;
  }

   p {
    font-size: 12px;
    line-height: 2;
  }
}

/* PHOTO SECTION */

.photo-names {
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.lance {
  background: url('../images/sk8er-4.png') no-repeat center center;
  height: 222px;
  border: solid 5px white;
  position: relative;
  margin-bottom: 10px;
}
.rodney {
  background: url('../images/sk8er-3.png') no-repeat center center;
  height: 222px;
  border: solid 5px white;
  margin-bottom: 10px;
}
.tommy {
  background: url('../images/sk8er-2.png') no-repeat -340px center;
  height: 464px;
  border: solid 5px white;
}
.steve {
  background: url('../images/sk8er-1.png') no-repeat center center;
  height: 222px;
  border: solid 5px white;
  background-size: cover;
}
.photos-left {
  padding-left: 0px;
}

.base h5 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}
.base {
  background: #AA2429;
  display: inline-block;
  height: 75px;
  box-shadow: 0px 4px rgba(0, 0, 0, .3);
  top: 0;
  left: 0;
  position: relative;
  width: 150px;
}
.base:before {
  border-left: 35px solid #AA2429;
  border-top: 38px solid transparent;
  border-bottom: 38px solid transparent;
  content: "";
  height: 0;
  left: 150px;
  position: absolute;
  right: 35px;
  width: 25px;
}

/* SKATE BOARDS */

.ska8brd {
  text-align: center;
}

.sk8brds {
  background-color: white;
  word-spacing: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* CONTACT SECTION */

.contact {
  height: 361px;
  background-color: white;
}

.bot-social1 {
  background-color: #464546;
}

.bot-social2 {
  background-color: #A5A4A5;
}

.bot-social3 {
  background-color: #707070;
}

.bot-icon {
  color: #939293;
}

.name-box .email-box .text-box {
  box-shadow: -3px -4px rgba(0, 0, 0, .3);
  border-radius: 0px;
}

.user-input button {
  border-radius: 0px;
  background-color: #AA2429;
  width: 240px;
  color: white;
}

@media (max-width: 768px) {
  .sn-container {
    display: none;
  }

}

@media (max-width: 768px) {
  .nb-container {
    display: none;
  }

}

@media (max-width: 768px) {
  .article-container1 {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .article-container3 {
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .sk8brds img {
    transform: rotatez(90deg);
    margin-left: 130px;
  }
}

@media (max-width: 768px) {
  .contact {
    height: 550px;
  }

}
